:root{
  /* General colors */
  --primary-text-color: #333333;
  --primary-client-color: #0890F7; /* PRIORITY */
  --secondary-client-color: #cce6ff; /* PRIORITY */
  --primary-bg-color: #f7f7f8;
  --secondary-bg-color: #ffffff;
  --border-color: #e0e0e0;
  --svg-icon-grey: #696969;  /* Standard grey color for certain svg icons */

  /* General colors: RGB Version */
  --primary-text-color-rgb: 51, 51, 51; 
  --primary-client-color-rgb: 8, 144, 247;  /* PRIORITY */
  --secondary-client-color-rgb: 204, 230, 255;  /* PRIORITY */
  --primary-bg-color-rgb: 247, 247, 248;
  --secondary-bg-color-rgb: 255, 255, 255;
  --border-color-rgb: 224, 224, 224;
  --svg-icon-grey-rgb: 105, 105, 105;

  /* Background colors */
  --header-bg-color: var(--secondary-bg-color);
  --chat-panel-bg-color: var(--primary-bg-color); 
  --sidebar-panel-bg-color: var(--primary-bg-color);
  --citations-title-bg-color: var(--primary-client-color);
  --citations-list-bg-color: var(--secondary-bg-color);
  --citation-chip-bg-color: var(--secondary-bg-color);
  --user-message-bg-color: var(--secondary-client-color);
  --assistant-message-bg-color: var(--secondary-bg-color);
  --example-prompt-button-bg-color: var(--secondary-client-color); 
  --area-around-composer-bg-color: var(--secondary-bg-color);  /* visible area, var(--secondary-bg-color); invisible area, var(--primary-bg-color) */
  --area-around-composer-top-border-color: var(--border-color);  /* visible border: var(--border-color); invisible border: var(--primary-bg-color) */
  --prompt-input-bg-color: var(--secondary-bg-color);
  --user-message-attachment-bg-color: var(--secondary-bg-color); 

  /* Text colors */ 
  --header-buttons-text-color: var(--svg-icon-grey);
  --citations-title-text-color: var(--primary-bg-color);
  --citations-text-color: var(--primary-text-color);
  --welcome-text-color: var(--primary-text-color);
  --assistant-message-text-color: var(--primary-text-color);
  --user-message-text-color: var(--primary-text-color); 
  --example-prompt-button-text-color: var(--primary-text-color);
  --placeholder-prompt-text-color: #9aa0a6;
  --user-prompt-text-color: var(--primary-text-color);
  --user-message-attachment-text-color: var(--primary-text-color);
  --user-message-attachment-type-text-color: #666;
  --prompt-attachment-file-name-text-color: var(--primary-text-color);
  --prompt-attachment-file-size-text-color: #666;
  
  /* Component colors */
  --citations-icon-color: var(--svg-icon-grey);
  --resizer-color-rgb: var(--primary-client-color-rgb);
  --message-copy-icon-color: var(--svg-icon-grey);  
  --attachment-divider-icon-color: var(--svg-icon-grey);
  --attachment-divider-line-color: rgba(var(--svg-icon-grey-rgb), .30);
  --prompt-attachment-remove-cross-color: #666;   

  /* Hover colors */ 
  --chip-hover-bg-color: rgba(var(--primary-client-color-rgb), .10);
  --mic-hover-bg-color: rgba(var(--primary-client-color-rgb), .10);
  --attach-hover-bg-color: rgba(var(--primary-client-color-rgb), .10);
  --user-message-attachment-hover-bg-color: color-mix(in srgb, rgb(var(--primary-client-color-rgb)) 10%, var(--user-message-attachment-bg-color));
  --prompt-attachment-remove-cross-hover-color: #333;

  /* Sizes and format */
  --sidebar-pct: 20%;  /* initial width of the sidebar */

  /* Content */
  --header-logo-url: url("/clients/quickstep-ai/logo_header.png"); /* PRIORITY */ 
  --chat-logo-url: url("/clients/quickstep-ai/logo_chat.png");
  --welcome-text: "Welkom bij de chatbot van Quickstep AI!\A\AKies één van de voorbeeldvragen hieronder of stel je eigen vraag om te beginnen."; /* PRIORITY */
  /* Could add favicon here as well */
}
